<!DOCTYPE html>
<html lang="en">
	<head>
    <title>__TITLE__</title>
    <meta name="description" content="__DESCRIPTION__" />
    <link rel="icon" type="image/x-icon" href="__ICON__">
    <meta property="og:site_name" content="__OG_SITE_NAME__">
    <meta property="og:title" content="__OG_TITLE__" />
    <meta property="og:description" content="__OG_DESCRIPTION__" />
    <meta property="og:image" itemprop="image" content="__OG_ICON__">
    <meta property="og:type" content="website" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/public/style.css">
	</head>
	<body>
		<h1>Hello there.</h1>
     <form action="/name" method="post">
      <label>First Name :</label>
      <input type="text" name="first" value="John"><br>
      <label>Last Name :</label>
      <input type="text" name="last" value="Doe"><br><br>
      <input type="submit" value="Submit">
    </form> 
	</body>
</html>
